@import "../../global.scss";

.popup-overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $mainColor;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 0.6;
  }
}

.popup {
  margin: auto;
  margin-top:20%;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  height: auto;
  position: relative;
  display: flex;
  transition: all 5s ease-in-out;

  h2 {
    margin-top: 0;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;

    &:hover {
      color: #06d85f;
    }
  }

  .content {
    max-height: 30%;
    overflow: auto;
  }
}
